<div class="jumbotron jumbotron-primary">
  <div class="container">
    <br><br>
    <h1 class="display-5">Rails 5 Starter Template</h1>
    <p class="lead">A collection of the best gems, templates and hacks to your project started faster than ever.</p>
    <hr class="my-4">
    <p>Carefully choosen gems & hand crafted components are the key components of Railstastic</p>
    <br>
    <p class="lead">
      <a class="btn btn-outline-light btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>
</div>
